# **Artificial Intelligence with Python**

#                 Lab Report 03: PANDAS

* Name: Ghulam Sarwar
* CMS ID: 033-16-0017

**Instructor: Dr. Gulsher Ali**

1- Load the Titanic Dataset in Kaggle notebook from given link below:
 https://www.kaggle.com/hesh97/titanicdataset-traincsv
Use the bar plot to show following plots:

*PART_01*

**Plot the Number of people survived and did not survive. Hint: Plot the counts values of**
**“Survived” column of dataset.**

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
titanic_data = pd.read_csv('../input/titanicdataset-traincsv/train.csv')
sb.countplot(x = 'Survived',data=titanic_data)
titanic_data

*PART_02*

**Also plot survived comparison by class and by gender**

In [22]:
import pandas as pd
import seaborn as sb
titanic_data = pd.read_csv('../input/titanicdataset-traincsv/train.csv')
sb.countplot(x='Survived',data=titanic_data,palette = "Set2",hue='Sex')
sb.countplot(x='Survived',data=titanic_data,hue='Pclass')

*PART_03*

**Use the “groupby” function of Pandas to group the mean values (of all features) of**
**passengers’’ gender and class.**

In [23]:
import pandas as pd
import seaborn as sb
titanic_data = pd.read_csv('../input/titanicdataset-traincsv/train.csv')
titanic_data.groupby('Sex').mean(),titanic_data.groupby('Pclass').mean()

**Explore how to add and delete column from a data frame, explain and illustrate with an**
**example. Also define concept of axis in pandas.**

Answer: 
* Using DataFrame.insert() to add a column 
> df.insert(2, "Age", [21, 23, 24, 21], True),"2" is the position of the column, then column name and its data and set the inplace argument is True. If we change the inplace argument to False then we can't rename it.
* Remove column name 'A', we use the drop() method. i.e. df.drop(['A'], axis = 1)
* The axis argument is either 0 when it indicates rows and 1 when it is used to drop columns.

**Generate a random data frame of 20 rows and 04 columns and change their columns**
**names.**

In [24]:
import pandas as pd
import numpy as np
data = pd.DataFrame(np.random.rand(20,4))
data.columns = ['A','B','C','D']
data

**Apply logical conditions to print values greater than 0.5 in any one column.**

In [25]:
import pandas as pd
import numpy as np
Data = pd.DataFrame(np.random.rand(20,4))
Data = Data[Data > 0.5]
Data

**Explore sort function in Pandas, apply ascending and descending sorting according.**

In [26]:
import pandas as pd
import numpy as np
data = pd.DataFrame(np.random.rand(20,4))
data.columns = ['A','B','C','D']
#data of column A is sort in ascending Order and Column B sort in descending order.
data.sort_values(by='A', ascending=True),data.sort_values(by='B',ascending=False)

**Loc and iloc are two functions of pandas for accessing the data from the data frame.**
**Define the difference between them and use them each in at least 2 example**
* loc is label-based, which means that we have to specify the name of the rows and columns that we need to filter out.
* On the other hand, iloc is integer index-based. So here, we have to specify rows and columns by their integer index.
> loc[row_label, column_label]

> iloc[row_position, column_position]

**Example 01: LOC[]**

In [27]:
import pandas as pd
Data = pd.DataFrame({'A':[1,23,4,12],'B':[34,14,62,14],'C':["Asif","Sarwar",2,31],'D':[2,44,52,1.2]})
index = ['A','B','C','D']
Data.loc[:,'A']

**Example 02: LOC[]**

In [28]:
import pandas as pd
data = pd.read_csv('../input/world-happiness/2019.csv')
data.loc[1,'Score'],data

**Example 01: iloc[]**

In [29]:
import pandas as pd
import numpy as np
Data = pd.read_csv('../input/world-happiness/2019.csv')
Data.iloc[:,1]

**Example 02: iloc[]**

In [30]:
import pandas as pd
Data = pd.read_csv('../input/world-happiness/2019.csv')
Data.iloc[1,2],Data